body {
  font-family: 'open sans', sans-serif; 
  font-weight: bold 700, light 300;
  text-align: center;
  color: #404041;
}

header {
  background-color: #404041;
  height: 80px;
  line-height: 80px;
  margin-bottom: 50px;
}

wrapper {
  margin: 0 auto;
  width: 100%;
}

.block {
  display: block; 
  margin: 0 auto;
}

button {
  margin: 30px 30px;
  background-color: #929497;
  border-radius: 28px;
  width: 150px;
  height: 40px;
  font-size: 20px;
  color: #fff;
}

button:hover {
  background-color: #eb008b;
  color: #fff;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

#number {
  width: 400px;
  line-height: 40px;
  font-size: 20px;
}

.small-input {
  width: 100px;
  line-height: 20px;
  font-size: 10px;
  display: inline;
}

.input-wrapper {
  width: 70%;
  margin: 10px auto;
  border: 1px solid #ed458b;
  background-color: #e6e7e8;
}

.padding {
  padding-top: 20px;
}

form {
  margin: 20px;
}

.your-guess {
  color: #ed458b;
  font-size: 40px;
}

.pink {
  color: #ed458b;
}

.grey {
  color: #e6e7e8;
}

.block {
  display: block;
}

h1 {
  font-size: 50px;
}

h2 {
  color: #404041;
}

h3 {
  font-size: 150px;
  color: #eb008b; 
}

.small-text {
  font-size: 12px;
  display: inline;
}
